{% extends 'base.html' %}

{% block title %}New Flashcard - Flash{% endblock %}

{% block header %}
	<div class="header">
		<h2>New Flashcard</h2>
		<a class="button nav-button-right" href="{{ url_for('home') }}">Go back</a>
	</div>
{% endblock %}

{% block content %}
	<section>
		<form method="post">
			<label for="phrase">Phrase</label>
			<input type="text" name="phrase" id="phrase" required>
			<input class="button-primary" type="submit" value="Create">
			<label>
				<input type="checkbox" name="is-sentence", value="yes">
				<span class="label-body">Example sentence</span>
			</label>
		</form>
	</section>
{% endblock %}
