{% extends 'base.html' %}

{% block title %}Credentials - Flash{% endblock %}

{% block header %}
	<div class="header">
		<h2>Chinesepod Credentials</h2>
		<a class="button nav-button-right" href="{{ url_for('home') }}">Go back</a>
	</div>
{% endblock %}

{% block content %}
	<section>
		<form method="post">
			<label for="chinesepod-username">Chinesepod username</label>
			<input type="text" name="chinesepod-username" id="chinesepod-username"
			value="{{ current_user.chinesepod_username }}" required>
			<label for="chinesepod-password">Chinesepod password</label>
			<input type="text" name="chinesepod-password" id="chinesepod-password"
			value="{{ '*' * current_user.chinesepod_password|length }}" required>
			<input class="button-primary" type="submit" value="Update">
		</form>
	</section>
{% endblock %}
